.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  color: white;
}

.App-title {
  font-size: 1.5em;
  display: inline-block;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.form {
  padding: 20px;
  border: 2px solid;
}

#itext, #otext {
  width: 500px;
  height: 100px;
  overflow-wrap: break-word;
}

#translate {
  display: block;
  text-align: center;
}
